# BASE_URL=http://localhost

DB_URL=jdbc:mysql://localhost:3306/media_base
DB_USERNAME=root
DB_PASSWORD=password

REDIS_HOST=localhost
REDIS_PORT=6379

AWS_S3_BUCKET=my-bucket
AWS_S3_REGION=my-region
AWS_S3_ACCESS-KEY=my-access-key
AWS_S3_SECRET_KEY=my-secret-key